html {
  --text: #9ca3af;
  --bg-global: #03041a;
  --bg-app: #0b0d2d;
  --border: #1f2937;

  --app-width: 1260px;
  --app-tb-margin: 2lh;
  --app-border-radius: 10px;

  --sans: Roboto, system-ui, "Segoe UI", sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  /* AUDIO VARIABLES */
  --audio-bg: #192a48;
  /* AUDIO VARIABLES */

  min-height: 100%;
}
